@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #0b0b0b;
  color: white;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: gold;
  color: black;
}
@import "tailwindcss";

:root {
  --gold: #d4af37;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  overflow-x: hidden;
  color: white;
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-playfair);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--gold);
  border-radius: 999px;
}

::selection {
  background: var(--gold);
  color: black;
}